/// @fontFamily Default
$font-stack: Helvetica, Arial, sans-serif;

/// @fontFamily Headline
$font-stack-headline: Times, sans-serif;

/// @fontFamily Monospace
$font-stack-monospace: Monaco, Consolas, monospace;