
.hidden {
  display: none !important;
  visibility: hidden; }

.m-tab .pane--active .styleguide-tab__label, .styleguide-color__attributes dt, .styleguide-inventory__title--superheadline, .m-tab__container .styleguide-component__headline,
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .m-tab .pane--active .focusable.styleguide-tab__label:active, .styleguide-color__attributes dt.focusable:active, .focusable.styleguide-inventory__title--superheadline:active, .m-tab__container .focusable.styleguide-component__headline:active, .m-tab .pane--active .focusable.styleguide-tab__label:focus, .styleguide-color__attributes dt.focusable:focus, .focusable.styleguide-inventory__title--superheadline:focus, .m-tab__container .focusable.styleguide-component__headline:focus,
  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }


.invisible {
  visibility: hidden; }

.l-container:before, .l-container--large:before, .styleguide-container:before, .m-tab__container:before, .m-tab__nav:before, .styleguide-colors:before, .l-container:after, .l-container--large:after, .styleguide-container:after, .m-tab__container:after, .m-tab__nav:after, .styleguide-colors:after,
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.l-container:after, .l-container--large:after, .styleguide-container:after, .m-tab__container:after, .m-tab__nav:after, .styleguide-colors:after,
.clearfix:after {
  clear: both; }

*,
*:before,
*:after {
  box-sizing: inherit; }

:root,
html {
  border-bottom: 1px solid transparent;
  min-height: 100%;
  box-sizing: border-box; }

body {
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; }

h1, h2, h3, h4, h5, h6,
p, blockquote, address,
dl, ul, ol,
table,
fieldset,
figure,
pre, code {
  margin: 0 0 2.4rem; }

a {
  color: #333; }
  a:hover, a:focus {
    color: #333; }
  .richtext a {
    font-weight: 600; }
  a img {
    border: 0; }

button,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="search"] {
  -webkit-appearance: none; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

svg {
  height: auto;
  max-width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

abbr {
  cursor: help; }

dt,
dd {
  display: block;
  margin-top: 0.5rem; }

dt {
  padding: 0;
  font-weight: bold; }
  dt:first-child {
    margin-top: 0; }

dd {
  margin: 0; }

hr {
  background-color: #ccc;
  border: 0;
  font-size: 1px;
  height: 1px;
  line-height: 1;
  margin: 2.4rem 0;
  display: block;
  clear: both; }

table {
  border-collapse: collapse;
  border: 0;
  font-size: 1.4rem;
  vertical-align: top;
  width: 100%;
  table-layout: fixed; }
  table p:last-child {
    margin-bottom: 0; }

tr {
  border-top: 1px solid #ccc; }
  tr:first-child {
    border-top-color: #000; }
  thead tr {
    border-top: 0; }

th,
td {
  border: 0;
  padding: 0.5rem;
  text-align: left;
  vertical-align: top; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }
  tr:last-child th, tr:last-child
  td {
    padding-bottom: 0.5rem; }

th {
  font-weight: 700;
  vertical-align: middle;
  white-space: nowrap; }

tr:first-child td {
  padding-top: 0.5rem; }

embed {
  height: auto;
  max-width: 100%; }

code,
pre {
  font-family: Monaco, Consolas, monospace; }

address {
  font-style: normal; }

dfn,
samp {
  font-family: Monaco, Consolas, monospace; }

:root,
html {
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-bottom: 1.2rem; }

.styleguide-inventory__title,
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  font-size: 3rem;
  font-weight: 400; }

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  font-size: 2.4rem;
  font-weight: 700; }
  h2:first-of-type {
    margin-top: 0; }

h3 {
  font-size: 2.4rem;
  font-weight: 400; }

h4 {
  font-size: 1.6rem;
  font-weight: 400; }

h5 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem; }

h6 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.5rem; }

p:empty {
  display: none; }

strong {
  font-weight: 700; }

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  font-weight: 400; }

form {
  font-size: 1.2rem; }

fieldset {
  border: 0;
  padding: 0; }

legend {
  display: block;
  font-size: 1.6rem;
  text-transform: uppercase; }

label {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700; }

button, input, select, textarea {
  vertical-align: middle; }

input,
select,
textarea {
  font-size: 1.4rem;
  line-height: 1.4; }

[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="file"],
[type="month"],
[type="number"],
[type="password"],
[type="phone"],
[type="range"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0; }

textarea {
  min-height: 5em;
  height: 12em;
  resize: vertical; }

select[multiple],
select[size] {
  height: auto; }

.l-container, .l-container--large {
  clear: both;
  margin: 0 auto; }

.l-column {
  min-height: 1px;
  position: relative;
  padding: 0 15px; }
  .l-column:before, .l-column:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .l-column:after {
    clear: both; }
  @media (min-width: 46.25em) {
    .l-column {
      float: left; } }

.l-container {
  max-width: 1000px; }

.l-container--large {
  max-width: 1200px; }

.l-column--tiny {
  min-height: 1px;
  position: relative;
  padding: 0 15px; }
  @media (min-width: 20em) {
    .l-column--tiny {
      float: left;
      width: 50%; } }
  @media (min-width: 46.25em) {
    .l-column--tiny {
      width: 25%; } }
  .l-column--tiny:nth-of-type(1), .l-column--tiny:nth-of-type(2) {
    margin-bottom: 2.4rem; }
    @media (min-width: 46.25em) {
      .l-column--tiny:nth-of-type(1), .l-column--tiny:nth-of-type(2) {
        margin-bottom: 0; } }
  @media (min-width: 20em) {
    .l-column--tiny:nth-of-type(2n + 1) {
      clear: left; } }
  @media (min-width: 46.25em) {
    .l-column--tiny:nth-of-type(2n + 1) {
      clear: none; } }
  @media (min-width: 46.25em) {
    .l-column--tiny:nth-of-type(4n + 1) {
      clear: left; } }

@media (min-width: 46.25em) {
  .l-column--small {
    width: 33.333%; } }

@media (min-width: 46.25em) {
  .l-column--medium {
    width: 50%; } }

.l-column--medium:nth-child(1), .l-column--medium:nth-child(3) {
  clear: left; }
  @media (min-width: 46.25em) {
    .l-column--medium:nth-child(1), .l-column--medium:nth-child(3) {
      clear: none; } }

@media (min-width: 46.25em) {
  .l-column--large {
    width: 66.667%; } }

.l-column--full {
  min-height: 1px;
  position: relative;
  padding: 0 15px; }
  @media (min-width: 46.25em) {
    .l-column--full {
      float: none; } }
  .l-container--large .l-column--full {
    min-height: 1px;
    position: relative; }
    @media (min-width: 87.5em) {
      .l-container--large .l-column--full {
        padding: 0 15px; } }
  @media (min-width: 46.25em) {
    .teaser-list--extraordinary .l-column--full {
      padding: 0; } }

body {
  margin: 0;
  padding-top: 8rem; }

.document-section, .document-content, .document-complementary, .document-additional, .document-footer__main {
  padding: 2.4rem 0; }
  @media (min-width: 46.25em) {
    .document-section, .document-content, .document-complementary, .document-additional, .document-footer__main {
      padding-bottom: 4rem;
      padding-top: 4rem; } }

.document-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1001; }
  @media (min-width: 46.25em) {
    .js-visible-navigation-dropdown--prepare .document-header {
      height: 100%; } }
  @media (min-width: 46.25em) {
    .document-header.document-header--is-fixed {
      position: fixed; } }

.document-header__meta {
  height: 0; }
  @media (min-width: 46.25em) {
    .document-header__meta {
      height: 2.4rem; } }

.document-header__main {
  min-height: 4rem; }

.document-section:first-of-type {
  padding-top: 2.4rem; }
  @media (min-width: 46.25em) {
    .document-section:first-of-type {
      padding-top: 0; } }

.document-section.document-section--theme:first-of-type,
.content + .document-section:first-of-type {
  padding-top: 2.4rem; }
  @media (min-width: 46.25em) {
    .document-section.document-section--theme:first-of-type,
    .content + .document-section:first-of-type {
      padding-top: 4rem; } }

.document-section.document-section--feature:first-of-type {
  padding-top: 0; }

.document-section--theme {
  padding-bottom: 2.4rem;
  padding-top: 2.4rem;
  margin-top: -1px; }

.document-section--feature {
  padding-top: 0; }
  @media (min-width: 61.25em) {
    .document-section--feature {
      padding-bottom: 0; } }

.document-section__title {
  display: inline-block;
  margin-bottom: 2.4rem; }

.document-section__headline {
  display: inline-block;
  margin-bottom: 0.5rem; }

.teaser-list {
  margin-left: -15px;
  margin-right: -15px; }
  .teaser-list:before, .teaser-list:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .teaser-list:after {
    clear: both; }
  .teaser-list.slick-initialized {
    margin-bottom: 0; }
  .teaser-list .slick-list {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem; }

.styleguide-section__container {
  clear: both;
  margin: 0 auto;
  max-width: 1000px;
  position: relative; }
  .styleguide-section__container section {
    margin-bottom: 3rem; }

.styleguide-section__header {
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1002; }
  .styleguide-section__header .section__main {
    max-width: 1000px;
    margin: 0 auto;
    position: relative; }

.styleguide-options {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0; }

.styleguide-options__toggle {
  background: transparent;
  display: inline-block;
  cursor: pointer;
  font-size: 1em;
  border: 0;
  overflow: hidden;
  text-indent: 500%;
  white-space: nowrap;
  background: transparent;
  position: relative;
  padding: 1rem;
  line-height: 2rem;
  font-size: 1.2rem;
  color: #fff;
  width: 40px;
  height: 4rem;
  outline: 0; }
  .styleguide-options__toggle:before {
    height: 40px;
    background-image: url("../img/svg-sprite.svg");
    background-position: 0px -80px;
    width: 40px;
    background-size: 70px 200px;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0; }
  .styleguide-options__toggle[class*=styleguide-options--] {
    position: relative; }
    .styleguide-options__toggle[class*=styleguide-options--]:before {
      height: 40px;
      background-image: url("../img/svg-sprite.svg");
      background-position: 0px -120px;
      width: 40px;
      background-size: 70px 200px;
      background-repeat: no-repeat;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0; }

.styleguide-container {
  clear: both;
  margin-left: -1rem;
  margin-right: -1rem; }

.styleguide-column {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 50%; }

.styleguide-column--small {
  width: 34%; }

.styleguide-column--large {
  width: 66%; }

.m-expand--additional-content {
  margin-top: 2.4rem;
  padding-top: 5.5rem;
  position: relative; }
  @media (min-width: 46.25em) {
    .m-expand--additional-content {
      margin-top: 4rem; } }
  .m-expand--additional-content:before {
    border-top: 1px solid #ccc;
    content: "";
    display: block;
    left: 20%;
    right: 20%;
    position: absolute;
    top: 20px;
    top: 2rem; }
    @media (min-width: 46.25em) {
      .m-expand--additional-content:before {
        left: 15%;
        right: 15%; } }

.js .m-expand__main {
  overflow: hidden;
  height: 0; }

.js .m-expand--expanded .m-expand__main {
  height: auto; }

.js .m-expand--expanded.m-expand--additional-content .m-expand__main {
  padding-top: 2.4rem; }

@-webkit-keyframes m-expand-toggle {
  0%, 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  30% {
    opacity: 0;
    -webkit-transform: translateY(75%);
            transform: translateY(75%); }
  60% {
    opacity: 0;
    -webkit-transform: translateY(0) scale(0);
            transform: translateY(0) scale(0); }
  65% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes m-expand-toggle {
  0%, 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  30% {
    opacity: 0;
    -webkit-transform: translateY(75%);
            transform: translateY(75%); }
  60% {
    opacity: 0;
    -webkit-transform: translateY(0) scale(0);
            transform: translateY(0) scale(0); }
  65% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.m-expand--additional-content .m-expand__toggle {
  position: absolute;
  top: 0; }

.m-expand__toggle.m-expand--expanded {
  -webkit-animation: m-expand-toggle 1.2s 1 ease;
          animation: m-expand-toggle 1.2s 1 ease;
  height: 0;
  overflow: hidden; }
  .m-expand__toggle.m-expand--expanded:before {
    content: "-";
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg); }
  .m-expand__toggle.m-expand--expanded:after {
    content: "-";
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }

.m-extendable--disabled .m-extendable__button {
  display: none; }

.m-extendable__button:before {
  position: absolute;
  top: 20px;
  border-top: 1px solid #ccc;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 66.667%;
  content: "";
  display: block;
  z-index: 21; }

.m-gallery {
  border-bottom: 1px solid #ccc; }

.m-tab {
  margin-bottom: 3rem; }
  .m-tab a {
    text-decoration: none; }

.js .m-tab__container {
  display: none; }
  .js .m-tab__container.tab--active, .js .m-tab__container.pane--active {
    display: block; }

.m-tab__container.pane--active {
  border-top: 3px solid lightseagreen;
  padding: 2rem 0 0; }
  .theme-basic .m-tab__container.pane--active {
    border-top: 0;
    background: none;
    padding: 1rem 0 0; }

.m-tab__container h4 {
  margin-bottom: 1rem; }

@media (min-width: 61.25em) {
  .styleguide-mule .m-tab__content {
    margin-left: -10em;
    margin-right: -10em; } }

.m-tab__nav {
  list-style: none;
  padding: 0;
  margin-bottom: 0; }
  .m-tab__nav a, .m-tab__nav a:focus, .m-tab__nav a:hover {
    color: inherit; }

.m-tab__nav-item {
  background-color: #F7F7F7;
  color: #333;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 0.75rem 2rem;
  margin-right: 1px; }
  .m-tab__nav-item::after {
    content: "";
    display: none;
    width: 0;
    height: 0;
    background: #e8e8e8;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: -2px 2px 5px rgba(30, 80, 30, 0.1); }
  .theme-basic .m-tab__nav-item {
    color: lightseagreen;
    background: none;
    border: thin solid currentColor;
    border-radius: 5px;
    margin-right: 1rem; }
  .m-tab__nav-item.tab--active {
    background-color: lightseagreen;
    color: #fff; }
    .m-tab__nav-item.tab--active::after {
      display: block;
      background: #1b948d;
      box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1); }
    .theme-basic .m-tab__nav-item.tab--active {
      border-color: lightseagreen;
      background-color: lightseagreen; }
      .theme-basic .m-tab__nav-item.tab--active::after {
        display: none; }

.m-toggle__target--hidden {
  height: 0;
  overflow: hidden; }
  .m-toggle__target--hidden.m-toggle__target--active {
    height: auto;
    overflow: visible; }

.document-section__title-extension {
  color: #333;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-left: 2.4rem; }


.theme--light {
  background-color: #fff; }


.theme--dark {
  background-color: #000;
  color: #fff; }

.m-expand__toggle, .m-extendable__button {
  color: #333;
  background: transparent;
  display: block;
  cursor: pointer;
  font-size: 1em;
  border: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  padding-top: 4.5rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  .m-expand__toggle:hover, .m-extendable__button:hover, .m-expand__toggle:focus, .m-extendable__button:focus {
    color: #333; }
  .m-expand__toggle:before, .m-extendable__button:before, .m-expand__toggle:after, .m-extendable__button:after {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background-color: #fff;
    border-radius: 50%;
    color: #333;
    display: block;
    font-size: 2.4rem;
    font-weight: 400;
    height: 40px;
    left: 0;
    line-height: 35px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 42;
    -webkit-transition: -webkit-transform 0.7s 0s ease;
            transition: transform 0.7s 0s ease; }
  .m-expand__toggle:before, .m-extendable__button:before {
    content: "\25be";
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg); }
  .m-expand__toggle:after, .m-extendable__button:after {
    content: "+";
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
  .m-expand__toggle:focus, .m-extendable__button:focus, .m-expand__toggle:hover, .m-extendable__button:hover {
    text-decoration: none;
    outline: none; }
    .m-expand__toggle:focus:before, .m-extendable__button:focus:before, .m-expand__toggle:hover:before, .m-extendable__button:hover:before {
      background-color: #000;
      color: #fff; }
    .m-expand__toggle:focus:before, .m-extendable__button:focus:before, .m-expand__toggle:hover:before, .m-extendable__button:hover:before {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg); }
    .m-expand__toggle:focus:after, .m-extendable__button:focus:after, .m-expand__toggle:hover:after, .m-extendable__button:hover:after {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg); }

.styleguide-section__header {
  background: #F7F7F7; }

.styleguide__header-navigation a {
  color: inherit; }

.styleguide-navigation-toggle {
  background-color: #FF0;
  border: 0;
  cursor: pointer;
  display: block;
  height: 5rem;
  overflow: hidden;
  position: fixed;
  text-indent: 120%;
  top: 0;
  width: 5rem;
  left: 0;
  outline: none;
  -webkit-transition: -webkit-transform 0.1s 0s ease;
          transition: transform 0.1s 0s ease;
  white-space: nowrap;
  will-change: transform;
  z-index: 1001;
  position: absolute; }
  @media (min-width: 61.25em) {
    .styleguide-navigation-toggle {
      display: none; } }
  .styleguide-navigation-toggle.m-toggle__target--active {
    -webkit-transform: translateX(22.5rem);
        -ms-transform: translateX(22.5rem);
            transform: translateX(22.5rem); }
  .styleguide-navigation-toggle:after {
    bottom: 0;
    content: "+";
    display: block;
    font-size: 30px;
    font-weight: bold;
    height: 1em;
    line-height: 0.8em;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    text-indent: 0;
    top: 0; }
  .styleguide-navigation-toggle.m-toggle__target--active:after {
    content: "-"; }

.styleguide-navigation {
  color: #333;
  max-width: none;
  font-size: 1.4rem;
  padding-left: 7rem; }
  .styleguide-navigation.m-toggle__target--active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .styleguide-navigation a,
  .styleguide-navigation strong {
    display: block;
    line-height: 2rem;
    padding: 1rem; }
  .styleguide-navigation a {
    text-decoration: none; }
    .styleguide-navigation a:focus, .styleguide-navigation a:hover {
      background-color: #dedede; }
  .styleguide-navigation a.active,
  .styleguide-navigation strong {
    cursor: default;
    background-color: #dedede; }
  .styleguide-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 0; }
  .styleguide-navigation li {
    display: inline-block;
    position: relative;
    font-size: 1.4rem; }
    .styleguide-navigation li ul {
      height: 0;
      overflow: hidden;
      position: absolute;
      background: #F7F7F7;
      min-width: 320px; }
    .styleguide-navigation li > a:hover + ul,
    .styleguide-navigation li ul:hover {
      height: auto; }
    .styleguide-navigation li li {
      display: block; }
      .styleguide-navigation li li a {
        font-weight: 400;
        padding: 0.75rem 1.2rem; }
        .styleguide-navigation li li a.active {
          background-color: #eaeaea;
          font-weight: 700; }

.styleguide-navigation__count {
  font-size: 0.65em;
  vertical-align: middle;
  background: #c8c8c8;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  position: relative;
  top: -2px;
  text-align: center;
  line-height: 18px;
  height: 18px;
  min-width: 18px;
  margin-left: 1ex;
  padding: 0 3px; }

.styleguide-logo {
  background: lightseagreen;
  background-size: contain;
  display: block;
  height: 4rem;
  overflow: hidden;
  text-indent: 100%;
  width: 7rem;
  white-space: nowrap;
  position: absolute; }
  .styleguide-logo:before {
    height: 40px;
    background-image: url("../img/svg-sprite.svg");
    background-position: 0px -160px;
    width: 70px;
    background-size: 70px 200px;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0; }

.styleguide-colors {
  padding: 0;
  vertical-align: top;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .styleguide-colors dl {
    margin-bottom: 0; }

.styleguide-color {
  color: #000;
  display: block;
  font-size: 1rem;
  line-height: 2.1rem;
  margin: 0 0 1rem;
  position: relative;
  text-align: left;
  vertical-align: top;
  padding: 0 1rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 12rem;
      -ms-flex: 0 0 12rem;
          flex: 0 0 12rem; }
  .styleguide-color::before {
    z-index: 21;
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #eee;
    background-image: -webkit-linear-gradient(45deg, #dedede 25%, transparent 25%, transparent 75%, #dedede 75%, #dedede), -webkit-linear-gradient(45deg, #dedede 25%, transparent 25%, transparent 75%, #dedede 75%, #dedede);
    background-image: linear-gradient(45deg, #dedede 25%, transparent 25%, transparent 75%, #dedede 75%, #dedede), linear-gradient(45deg, #dedede 25%, transparent 25%, transparent 75%, #dedede 75%, #dedede);
    background-size: 24px 24px;
    background-position: 0 0, 12px 12px; }
  .styleguide-colors--gradients .styleguide-color:not(.styleguide-color--radial)::before {
    border-radius: 0; }

.styleguide-color__swatch {
  border-radius: 50%;
  border: medium solid #dedede;
  height: 7rem;
  width: 7rem;
  margin: 0 auto;
  content: attr(data-color);
  position: relative;
  z-index: 42; }
  .styleguide-colors--box-shadows .styleguide-color__swatch {
    border: 0; }
  .styleguide-colors--gradients .styleguide-color:not(.styleguide-color--radial) .styleguide-color__swatch {
    border-radius: 0; }

.styleguide-color__info {
  margin-top: 1rem;
  overflow: hidden;
  height: 0;
  width: 9rem; }
  .styleguide-options--info .styleguide-color__info {
    height: auto; }
  .styleguide-color__info [contenteditable] {
    color: #333;
    padding: 0.25em 0.5em;
    margin-bottom: 1px;
    white-space: nowrap; }
    .styleguide-color__info [contenteditable]:focus {
      background-color: #fff; }
    .styleguide-color__info [contenteditable]:not(:focus) {
      background-color: #F7F7F7; }

.styleguide-color__label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.styleguide-color__attributes {
  margin: 0; }

.notes {
  color: #999; }

.styleguide-inventory__title--superheadline {
  font-size: 1.6rem;
  color: #999;
  font-weight: 700; }

.styleguide-inventory__navigation {
  margin-bottom: 6rem; }
  .styleguide-inventory__navigation ul {
    padding-left: 0;
    list-style: none; }
  .styleguide-inventory__navigation li {
    display: inline-block;
    padding: 0;
    margin: 1.2rem 0 2.4rem; }
  .styleguide-inventory__navigation a {
    padding: 1.2rem 2.4rem;
    background-color: #01ADEF;
    color: #fff; }
    .styleguide-inventory__navigation a:focus, .styleguide-inventory__navigation a:hover {
      background-color: #0182E5;
      color: #fff;
      text-decoration: none; }

@-webkit-keyframes styleguide-timing-example {
  from {
    -webkit-transform: scaleX(0.01);
            transform: scaleX(0.01); }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

@keyframes styleguide-timing-example {
  from {
    -webkit-transform: scaleX(0.01);
            transform: scaleX(0.01); }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

.styleguide-timing {
  padding-left: 2rem;
  position: relative;
  -webkit-animation-duration: 5s;
          animation-duration: 5s; }

.styleguide-timing__example {
  border: thin solid #ccc;
  height: 3rem;
  padding: 0.5rem 0.75rem;
  line-height: 2rem;
  font-size: 1rem;
  position: relative;
  -webkit-animation-duration: inherit;
          animation-duration: inherit; }
  .styleguide-timing__example::before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: lightseagreen;
    -webkit-transform: scaleX(0.01);
        -ms-transform: scaleX(0.01);
            transform: scaleX(0.01);
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
    -webkit-animation-name: styleguide-timing-example;
            animation-name: styleguide-timing-example;
    -webkit-animation-duration: inherit;
            animation-duration: inherit;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-play-state: paused;
            animation-play-state: paused; }
    .styleguide-timing__toggle:checked + .styleguide-timing__example::before {
      -webkit-animation-play-state: running;
              animation-play-state: running; }

.styleguide-timing__toggle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0; }

.styleguide-transition {
  padding-left: 2rem;
  position: relative;
  -webkit-transition: -webkit-transform 5s 0s linear;
          transition: transform 5s 0s linear; }

.styleguide-transition__example {
  border: thin solid #ccc;
  height: 3rem;
  padding: 0.5rem 0.75rem;
  line-height: 2rem;
  font-size: 1rem;
  position: relative;
  -webkit-transition: inherit;
          transition: inherit;
  -webkit-transition-duration: inherit;
          transition-duration: inherit; }
  .styleguide-transition__example::before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: lightseagreen;
    -webkit-transform: scaleX(0.01);
        -ms-transform: scaleX(0.01);
            transform: scaleX(0.01);
    -webkit-transition: inherit;
            transition: inherit;
    -webkit-transition-duration: inherit;
            transition-duration: inherit;
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center; }
    .styleguide-transition__toggle:checked + .styleguide-transition__example::before {
      -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
              transform: scaleX(1); }

.styleguide-transition__toggle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0; }

.styleguide-iframe {
  box-sizing: content-box;
  margin-bottom: 10px;
  max-width: 100%;
  padding: 0; }
  .styleguide-iframe:last-child {
    margin-bottom: 0; }
  .styleguide-iframe iframe {
    background: #fff;
    border: 0;
    margin: 0;
    padding: 0;
    min-height: 250px; }
  .styleguide-iframe.styleguide-mule__view--small {
    width: 320px; }
    @media (min-width: 46.25em) {
      .styleguide-iframe.styleguide-mule__view--small {
        float: left; } }
  .styleguide-iframe.styleguide-mule__view--medium {
    width: 740px; }
    @media (min-width: 46.25em) {
      .styleguide-iframe.styleguide-mule__view--medium {
        float: right; } }
  @media (min-width: 46.25em) {
    .styleguide-iframe.styleguide-mule__view--large {
      clear: both; } }

.is-fixed {
  position: fixed; }

@media print {
  @page {
    margin: 2cm 2cm 2cm 2cm; }
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important; }
  a,
  a:visited {
    text-decoration: none !important; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "" !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid; }
  body {
    padding-top: 0 !important; }
  .document-header {
    position: static !important; }
  .document-main {
    padding-bottom: 0 !important; }
  .document-header,
  .document-header__main,
  .navigation-breadcrumb,
  .navigation-header-meta,
  .document-share,
  .document-footer,
  #info_message {
    display: none !important; }
  .document-main,
  .document-header__meta {
    padding-left: 0;
    padding-right: 0; }
    .document-main:before, .document-main:after,
    .document-header__meta:before,
    .document-header__meta:after {
      display: none !important; }
  .slick-dots,
  .slick-prev,
  .slick-next,
  .m-expand__toggle,
  .member__biography-toggle,
  .content-social,
  .content__comments,
  .content__participate,
  .content__map {
    display: none !important; }
  [class*=l-column] {
    float: none !important;
    clear: both !important;
    width: auto !important; }
  .m-expand__main,
  .member__biography .document-section__main {
    visibility: visible !important;
    height: auto !important; }
  .content__main {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .content-index__item strong {
    font-weight: 700 !important; }
  .content-teaser__main {
    opacity: 1 !important; }
  .m-tab {
    display: block !important; }
    .m-tab:after {
      content: attr(data-label);
      display: block;
      font-size: 2.4rem;
      padding-bottom: 2.4rem; }
  .m-tab__label {
    border: 0 !important;
    clip: auto !important;
    height: auto !important;
    margin: 0 !important;
    overflow: visible !important;
    padding: 0 0 2.4rem !important;
    position: static !important;
    width: auto !important;
    font-size: 2.4rem; }
  .m-tab__nav {
    display: none !important; } }

.fp-component {
  background-color: #cee;
  color: #333;
  display: block;
  margin: 2.4rem 0;
  padding: 2.4rem;
  border: 1px solid #9edfdf; }
  .fp-component:before, .fp-component:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .fp-component:after {
    clear: both; }
  .document-header .fp-component {
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    margin: 0; }
  .fp-component .document-section__title,
  .fp-component .document-section__headline {
    display: inline-block;
    margin-bottom: 0; }
  .fp-component .teaser-list {
    margin: 0; }
  .fp-component .navigation-breadcrumb {
    padding: 0; }
  .fp-component .content__share {
    border: 0;
    margin: 0;
    padding: 0; }
  .fp-component p, .fp-component figure, .fp-component blockquote, .fp-component figcaption, .fp-component pre, .fp-component ul, .fp-component ol, .fp-component dl {
    margin: 0; }

.fp-component__label {
  display: block; }
  .document-section__title + .fp-component__label {
    display: inline-block;
    margin-left: 1em; }
    .document-section__title + .fp-component__label:before {
      content: "("; }
    .document-section__title + .fp-component__label:after {
      content: ")"; }

.fp-component__list {
  margin-bottom: 0;
  list-style: square; }

.fp-status--wip {
  outline: 1px dashed #FF0064 !important; }

.fp-variant-divider {
  margin: 0 0 6rem 0; }
  .document-section.content + .fp-variant-divider {
    margin-top: 1.2rem; }
  .fp-variant-divider + .document-section.content {
    padding-top: 4rem; }
/*# sourceMappingURL=main.css.map */