---
page-title: Documentation
page-class: "vsg-page vsg-page--documentation"
layout: default
---


<main class="styleguide-section__main">

    <div class="styleguide-section__container">

    {% content %}

    </div>

</main>
