---
page-title: {% title %}
page-class: {% class %}
layout: {% layout %}
---


<main class="styleguide-section__main">

    <div class="styleguide-section__container">

    {% content %}

    </div>

</main>
